{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                {{#if checkout.header_image}}
                    <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{ checkout.header_image }}"/>
                {{ else }}
                    <span class="header-logo-text">{{settings.store_logo.title}}</span>
                {{/if}}
            </a>
        </h2>
    </div>
</header>

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}

{{inject "storeFrontToken" this.settings.storefront_api.token}}
{{inject "customerSpecificPayment" theme_settings.customer-specific-payment-method}}
{{inject "customerLogined" customer}}

<script>

let jsContext = JSON.parse({{jsContext}});
let token = jsContext.storeFrontToken;
let customerSpecificPayment = jsContext.customerSpecificPayment;
let customerLogined = jsContext.customerLogined;
let customPaymentName;

async function getFreeShipIds() {
    const response = await fetch(`/graphql`, {
        credentials: "same-origin",
        method: "POST",
        body: JSON.stringify({ query:`
        query CustomerAttributes {
            customer {
                attributes {
                    customPayment: attribute(entityId:1) {
                        value
                    }
                }
            }
        }
        `}),
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        },
    });

    const data = await response.json();      
    if (!response.ok) {
        return Promise.reject("There was an issue adding items to your cart. Please try again.")
    } else {        
        if (data.data.customer.attributes.customPayment.value != null) {
            customPaymentName = data.data.customer.attributes.customPayment.value;
        } else {
            customPaymentName = "Net 30";
        }   
    }
}

if (customerSpecificPayment && customerLogined != null){
    getFreeShipIds();
    newAppObserve();
} else if (customerSpecificPayment) {
    newAppObserve();
}

function newAppObserve(){
    const app = document.getElementById("checkout-app");
    const mutationConfig = { attributes: false, childList: true, subtree: true, characterData: false, characterDataOldValue: false };
        
    let onMutateApp = function(mutationsList) {
        mutationsList.forEach(mutation => {

            if (mutation.target.classList.contains("checkout-step--customer") && mutation.removedNodes.length > 0){
                getFreeShipIds();
            }

            if (mutation.target.parentNode.classList.contains("checkout-step--payment") && mutation.addedNodes.length > 0){
                if (document.querySelector(".paymentProviderHeader-name")) {
                    document.querySelector(".paymentProviderHeader-name").innerHTML = customPaymentName;
                }
            }
        });
    };
    
    var observer = new MutationObserver(onMutateApp);
    observer.observe(app, mutationConfig);
}

</script>