{{#if settings.data_tag_enabled}}
    <article class="listItem"
             data-event-type="{{event}}"
             data-entity-id="{{id}}"
             data-position="{{position}}"
             data-name="{{name}}"
             data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}"
             data-product-brand="{{brand.name}}"
             data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"
    >
{{else}}
    <article class="listItem">
{{/if}}
    <figure class="listItem-figure" id="productFifure{{id}}">
        <a href="{{url}}"
           class="listItem-figure__link"
           aria-label="{{name}},{{> components/products/product-aria-label}}"
           {{#if settings.data_tag_enabled}}
           data-event-type="product-click"
           {{/if}}
        >
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=(lang "page_builder.pdp_sale_badge_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=theme_settings.pdp_sale_badge_label
                    }}
                {{/if}}
            {{/or}}
        {{/if}}

        {{> components/common/responsive-img
            image=image
            class="listItem-image"
            fallback_size=theme_settings.productgallery_size
            lazyload=theme_settings.lazyload_mode
            default_image=theme_settings.default_image_product
        }}
        </a>
        {{#unless hide_product_quick_view}}
            {{#if theme_settings.show_product_quick_view}}
                <div class="listItem-figureBody">
                    <button type="button" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small listItem-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</button>
                </div>
            {{/if}}
        {{/unless}}
    </figure>
    <div class="listItem-body">
        <div class="listItem-content">
            <div class="listItem-details">
                {{#if show_rating}}
                    <p class="listItem-rating">{{> components/products/ratings rating_target=name rating=rating}}</p>
                {{/if}}
                {{#if brand.name}}
                <p class="listItem-brand">{{brand.name}}</p>
                {{/if}}
                <h4 class="listItem-title">
                    <a href="{{url}}"
                        aria-label="{{name}},{{> components/products/product-aria-label}}"
                        {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
                    >
                        {{name}}
                    </a>
                </h4>
                {{#if summary}}
                    <p>{{{summary}}}</p>
                {{/if}}
            </div>
            <div class="listItem-actions">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if price}}
                        <div class="listItem-price">{{> components/products/price price=price}}</div>
                    {{/if}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--primary">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
                {{#if show_compare}}
                    <label class="button button--small" for="compare-{{id}}">
                        {{lang "products.compare"}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
            </div>
        </div>
    </div>
</article>

{{inject "myProductDate" this.date_added}}
{{inject "myProductID" this.id}}

{{inject "themeSettings" theme_settings}}
{{inject "myProductCustomFields" this.custom_fields}}

<script>
    function customBandage (jsContext){

        if (jsContext.themeSettings.freeShipBadgesTypee !== "none") {
            if (jsContext.myProductCustomFields){
                jsContext.myProductCustomFields.forEach(el => {
                    if (el.name === "__badge" && el.value === "FreeShipping") {
                        if ( document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.firstElementChild.tagName !== "DIV" && document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.lastElementChild.tagName !== "DIV" ){
                            if (jsContext.themeSettings.product_custom_free_ship_badges === "topleft"){
                            document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                                `<div class="free_shipping-flag-side" style="top:5px">
                                    <span class="free_shipping-text">
                                        `+jsContext.themeSettings.pdp_custom_free_ship_badge_label+ `
                                    </span>
                                </div>`
                            } else if (jsContext.themeSettings.product_custom_free_ship_badges === "sash"){
                                document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                                `<div class="free_shipping-flag-sash">
                                    <span class="free_shipping-text">`+jsContext.themeSettings.pdp_custom_free_ship_badge_label+`</span>
                                </div>
                                `
                            }   else if (jsContext.themeSettings.product_custom_free_ship_badges === "burst"){
                                document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                                `<div class="starwrap">
                                    <div class="free_shipping-text-burst">`+jsContext.themeSettings.pdp_custom_free_ship_badge_label+`</div>
                                    <div class="free_shipping-flag-star"></div>
                                </div>
                                `
                            }
                        }
                    }
                });
            } 
        }

        if (jsContext.themeSettings.product_custom_new_badges !== "none") {

            let dat = jsContext.myProductDate;
            let date_added
            if (dat.length === 12) {
                date_added = new Date(dat.slice(4, 7) + " " + dat.slice(0, 1) + "," + dat.slice(8, 12));
            } else {
                date_added = new Date(dat.slice(5, 8) + " " + dat.slice(0, 2) + "," + dat.slice(9, 13));
            }
            let date_now = new Date();           
            if ((date_now - date_added)/24/60/60/1000 <= 14 ) {
                if ( document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.firstElementChild.tagName !== "DIV" && document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.lastElementChild.tagName !== "DIV" ){
                    if (jsContext.themeSettings.product_custom_new_badges === "topleft"){
                        document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                        `<div class="custom_new-flag-side" style="top:5px">
                            <span class="custom_new-text">
                                `+jsContext.themeSettings.pdp_custom_new_badge_label+ `
                            </span>
                        </div>`
                    } else if (jsContext.themeSettings.product_custom_new_badges === "sash"){
                        document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                        `<div class="custom_new-flag-sash">
                            <span class="custom_new-text">`+jsContext.themeSettings.pdp_custom_new_badge_label+`</span>
                        </div>
                        `
                    }   else if (jsContext.themeSettings.product_custom_new_badges === "burst"){
                        document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                        `<div class="starwrap">
                            <div class="custom_new-text-burst">`+jsContext.themeSettings.pdp_custom_new_badge_label+`</div>
                            <div class="custom_new-flag-star"></div>
                        </div>
                        `
                    }
                }
            }
        }


        if (jsContext.themeSettings.closeoutBadgesType !== "none") {       
            if (jsContext.myProductCustomFields){
                jsContext.myProductCustomFields.forEach(el => {
                    if (el.name === "__badge" && el.value === "Closeout") {
                        if (jsContext.themeSettings.product_closeout_badges === "topleft"){
                            document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                            `<div class="closeout-flag-side" style="top:5px">
                                <span class="closeout-text">
                                    `+jsContext.themeSettings.pdp_custom_closeout_label+ `
                                </span>
                            </div>`
                        } else if (jsContext.themeSettings.product_closeout_badges === "sash"){
                            document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                            `<div class="closeout-flag-sash">
                                <span class="closeout-text">`+jsContext.themeSettings.pdp_custom_closeout_label+`</span>
                            </div>
                            `
                        }   else if (jsContext.themeSettings.product_closeout_badges === "burst"){
                            document.getElementById("productFifure"+jsContext.myProductID).firstElementChild.innerHTML += 
                            `<div class="starwrap">
                                <div class="closeout-text-burst">`+jsContext.themeSettings.pdp_custom_closeout_label+`</div>
                                <div class="closeout-flag-star"></div>
                            </div>
                            `
                        }
                    }
                });
            }
        }
    }
    customBandage(JSON.parse({{jsContext}}));
</script>