<div class="custom-form-summary-section">
    <button disabled class="button button--primary" data-event="add-products-to-cart">Add to Cart</button>
    <div class="custom-form-totlal-cost">
        <span class="listItem-price">Total cost: </span>
        <span data-id="custom-total-cost" class="listItem-price">0</span>      
        <span class="listItem-price custom-form-currency"> {{active_currency_code}}</span>
    </div>
</div>

<ul class="custom-form-product-list">
    {{#each products}}
    <li class="custom-form-product">
        <div class="custom-form-row">
            <div class="custom-form-column">
                <figure>
                    <a href="{{url}}"
                    class="listItem-figure__link">           
                    {{> components/common/responsive-img
                        image=image
                        class="listItem-image"
                        fallback_size=theme_settings.productgallery_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                    }}
                    </a>
                </figure>
            </div>
            <div class="custom-form-column">
                <div class="listItem-content">
                    <h4 class="listItem-title">
                        <a href="{{url}}">
                            {{name}}
                        </a>
                    </h4>
                    {{#if summary}}
                        <p>{{{summary}}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="custom-form-column custom-form-column-price">
                    {{#if price}}
                        <div class="listItem-price">{{> components/products/price price=price}}</div>
                    {{/if}}
            </div>
            <div class="custom-form-column">
                {{#if has_options}}
                    <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                {{/if}}
                {{#if pre_order}}
                    <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary">{{lang 'products.pre_order'}}</a>
                {{/if}}
                {{#if add_to_cart_url }}
                    <input type="text" data-product-price="{{price.without_tax.value}}" data-product-id="{{id}}" data-stock-level="{{stock_level}}" data-validated="true" class="custom-form-quantity" placeholder="0" min="0" max="10">
                {{/if}}
                {{#if out_of_stock_message }}
                    <a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                {{/if}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>
<div class="custom-form-summary-section">
    <button disabled class="button button--primary" data-event="add-products-to-cart">Add to Cart</button>
    <div class="custom-form-totlal-cost">
        <span class="listItem-price">Total cost: </span>
        <span data-id="custom-total-cost" class="listItem-price">0</span>
        <span class="listItem-price"> {{active_currency_code}}</span>
    </div>
</div>
