{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{#if category.products}}

<div>
    {{>components/custom/custom-product-list-item products=category.products theme_settings=theme_settings active_currency_code=currency_selector.active_currency_code}}
</div>
    

    {{> components/common/paginator pagination.category}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
