---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}
{{inject 'storefrontAPIToken' settings.storefront_api.token}}
{{inject 'productInStock' product.stock_level}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div itemscope itemtype="https://schema.org/Product">
        {{> components/custom/custom-page-view schema=true  }}

        {{{region name="product_below_content"}}}

        <section>
            {{> components/custom/custom-multi-order-form }}
        </section>

    </div>
{{/partial}}
{{> layout/base}}
